.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;
}

@media (max-width: 568px) {
  .products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}