.directory-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 568px) {
  .directory-container {
    display: flex;
    flex-direction: column;
  }
}